<%= form_for(@product_uom) do |f| %>
  <% if @product_uom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_uom.errors.count, "error") %> prohibited this product_uom from being saved:</h2>

      <ul>
      <% @product_uom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :uom %><br />
    <%= f.text_field :uom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
