<!DOCTYPE html>
<html>
<head>
  <title>Cloud1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p align="right" class="cart-text"><%= render 'layouts/cart_text' %></p>
<h3>
	<%= link_to 'Products', products_path %> &bull; 
    <%= link_to 'Line  Items', line_items_path %> &bull;
    <%= link_to 'Orders' , '#' %>
</h3>


<%= yield %>

</body>
</html>
